{% extends 'index.html'%}
{% block conteudo %}
<h2 style="text-align: center;padding-top: 250px;">Model-View-Controller</h2><br>
<p style="width: clamp(15rem, 50%, 50rem); margin: 0 auto;">

    Em meio ao desenvolvimento de software, você pode ter visto em algum momento a sigla “MVC”. Confira neste artigo
    o que vem a ser o MVC – ou Model-View-Controller.
    <br><br>
    Afinal, o que é MVC?
    O MVC é um padrão de arquitetura de software. O MVC sugere uma maneira para você pensar na divisão de
    responsabilidades, principalmente dentro de um software web.
    <br><br>
    O princípio básico do MVC é a divisão da aplicação em três camadas: a camada de interação do usuário (view), a
    camada de manipulação dos dados (model) e a camada de controle (controller).
    <br><br>
    Com o MVC, é possível separar o código relativo à interface do usuário das regras de negócio, o que sem dúvida
    traz muitas vantagens que veremos mais à frente.
    <br><br>
    Quais os papéis de cada camada?
    Quando falamos sobre o MVC, cada uma das camadas apresenta geralmente as seguintes responsabilidades:
    <br><br>
<div style="width: clamp(15rem, 50%, 50rem); margin: 0 auto; position: relative;left: -30px;">
    <ul><b>Model</b> A responsabilidade dos models é representar o negócio. Também é responsável pelo acesso e
        manipulação
        dos dados na sua aplicação.</ul>
    <br>
    <ul><b>View A view</b> é responsável pela interface que será apresentada, mostrando as informações do model para o
        usuário.</ul>
    <br>
    <ul><b>Controller</b> É a camada de controle, responsável por ligar o model e a view, fazendo com que os models
        possam
        ser repassados para as views e vice-versa.</ul>
</div>
</p>
<br><br><br>
<div>
    <img src="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/06/diagramaMVC.png" alt=""
    style="height: auto; width: clamp(15rem, 50%, 50rem); display: flex;align-items: center;justify-content: center;margin: 0 auto;">
</div>
<br>
<h2 style="text-align: center;">Client-Server</h2>
<p style="width: clamp(15rem, 50%, 50rem); margin: 0 auto;">
    O que é uma estrutura cliente-servidor?
    Um servidor é um recurso dentro de um sistema computacional, capaz de processar aplicações, armazenar dados e
    prestar serviços, enquanto o cliente é um computador que solicita esses serviços e recursos. Em uma infraestrutura
    de TI, ambos formam a arquitetura conhecida como “cliente-servidor”.
    <br><br>
    Uma estrutura cliente-servidor é um modelo de arquitetura de rede em que um programa de computador (cliente),
    solicita um serviço ou recurso de outro programa de computador (servidor), recebendo uma resposta com as informações
    solicitadas por meio de protocolos de rede em infraestruturas de TI.
    <br><br>
    A comunicação cliente-servidor é baseada em troca de mensagens, onde o cliente envia requisições e o servidor
    responde com as informações requisitadas.
    <br><br>
    Este tipo de modelo é amplamente utilizado em rede de computadores, onde vários dispositivos podem se conectar a um
    servidor central para acessar recursos compartilhados, como arquivos, impressoras, bancos de dados, aplicativos e
    serviços de internet.
    <br><br>
    A arquitetura cliente-servidor pode ser implementada de diferentes maneiras, como em aplicações web, jogos online,
    sistemas de gerenciamento de bancos de dados, entre outros.
</p><br><br>
{% endblock conteudo %}