{% extends 'index.html'%}
{% block conteudo %}
<h2 style="text-align: center;padding-top: 250px;">O que é CDN?</h2><br>
<p style="width: clamp(15rem, 50%, 50rem); margin: 0 auto;">
    Uma rede de distribuição de conteúdo (CDN) é um grupo de servidores geograficamente distribuídos que armazenam
    conteúdo em cache próximo aos usuários finais. A CDN permite uma transferência rápida dos ativos necessários para
    carregar o conteúdo da internet, incluindo páginas HTML, arquivos em JavaScript, folhas de estilo, imagens e vídeos.

</p>
<br><br><br>
<div>
    <img src="https://cdn-aahbe.nitrocdn.com/atRjhaAsMHbPaZMOukHscOVOXfGAsiqT/assets/images/optimized/rev-1074f35/nitropack.ams3.digitaloceanspaces.com/upload/blog/with_cdn_d9eeff2d.jpg" alt=""
    style="height: auto; width: clamp(15rem, 50%, 50rem); display: flex;align-items: center;justify-content: center;margin: 0 auto;">
</div>
<br>
<br>
{% endblock conteudo%}